# Node.js
frontend/node_modules/
frontend/yarn.lock

# Visual Studio Code
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/*.codesnippet

.DS_Store
**/.DS_Store
