@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* A light gray background */
  color: #1f2937; /* A dark gray color for text */
}
